.DownLink {
    position: relative;
    top: 5vh;
    height: 10vh;
    background-color: transparent;
}

@keyframes AnimationDownLink{
    from{transform: translateY(-20px)}
    to{transform: translateY(0)}
}

.DownLink img {
    animation: AnimationDownLink;
    animation-duration: 1000ms;
    animation-play-state: running;
    animation-iteration-count: infinite;
    width: 40px;
    margin-bottom: -30vh;
}

.element {
    transform: translateY(-50px);
}